.btn {
    display: inline-block;
    padding: 10px 20px;
    line-height: 20px;
    font-size: 18px;
    background-color: #EA1E63;
    color: #fff;
    text-decoration: none;
}
    .btn.small {
        padding: 5px 10px;
    }
    .btn.big {
        padding: 20px 40px;
    }
    .btn.round {
        border-radius: 30px;
    }
    .btn.fa {
        padding: 15px;
        width: 50px;
        text-align: center;
        font-size: 28px;
    }